@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .wave-mask {
    --size: 40px;
    --p: calc(0.5 * var(--size));
    --R: calc(1.118 * var(--size));

    -webkit-mask:
      radial-gradient(var(--R) at left 50% bottom calc(var(--size) + var(--p)),
        #000 98%, transparent 100%)
        left calc(50% - 2 * var(--size)) bottom 0 /
        calc(4 * var(--size)) 51% repeat-x,
      radial-gradient(var(--R) at left 50% top calc(var(--size) + var(--p)),
        #000 98%, transparent 100%)
        left calc(50% - 2 * var(--size)) top 0 /
        calc(4 * var(--size)) 51% repeat-x;

    mask: inherit;
    mask-type: luminance;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-wave: wave 1.5s ease-in-out infinite;

  @keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
